@import url('https://www.fontify.me/wf/4dae5b9279578bbce15473cde2ae897f');
@import url('https://www.fontify.me/wf/d3e1c84e7b889b9be151c0252e0f3d5c');
@import url('https://www.fontify.me/wf/913f31e80002637ab5b87370e560f313');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Courgette|Orbitron|Pacifico|Righteous|Russo+One|Yellowtail');
/*import dei font utilizzati*/
@font-face{
  font-family:"font126891";
  font-family:"font126891";
  src:url("../font/HelveticaNeueLTPro-Lt.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:"font124871";
  font-family:"font124871";
  src:url("../font/myriadwebpro.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Lobster';
  src:url("../font/Lobster/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:"font92727";
  src:url("../font/SF-UI-Text-Regular.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family: 'Orbitron';
  src:url("../font/Orbitron/Orbitron-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Righteous';
  src:url("../font/Righteous/Righteous-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bungee';
  src:url("../font/Bungee/Bungee-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Audiowide';
  src:url("../font/Audiowide/Audiowide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monoton';
  src:url("../font/Monoton/Monoton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bungee Inline';
  src:url("../font/BungeeInline-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Press Start 2P';
  src:url("../font/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }
body {
  line-height: 1; }
ol, ul {
  list-style: none; }
table {
  border-collapse: collapse;
  border-spacing: 0; }
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }
q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }
a img {
  border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

body {
  /*font: 14px/22px Arial, Helvetica, sans-serif;*/
  color: #333;
  background: #ddd;
  margin: 50px auto;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6 {
	font-weight:bold;
	font-size: 16px;
	margin: 12px 0;
}

h1 {
	margin: 35px 0 5px;
	font-size: 26px;
	font-weight: normal;
}

#slider {
	text-align: center;
}

h2 {
	margin: 40px 0 25px;
	border-bottom: 1px solid #bbb;
	padding: 0 0 10px;
}

p {
	margin: 0 0 16px;
  font-family: 'font126891';
}

strong {
	font-weight: bold;
}

label, a {
	color: teal;
	cursor: pointer;
	text-decoration: none;
}
label:hover, {
	color: #000 !important;
}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
label, #active, img { -moz-user-select:none;-webkit-user-select:none; }
.catch { display: block; height: 0; overflow: hidden; }
#slider {
	margin: 0 auto;
}
#description {
	margin: 25px auto;
	text-align: left;
	max-width: 650px;
	padding: 0 25px;
}
.respond {
	margin: 0 auto;
	max-width: 370px;
  margin-top: 20px;
}

/* NEW EXPERIMENT */
/* Slider Setup */

input {
	display: none;
}

#slide1:checked ~ #slides .inner { margin-left: 0%; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }
#slide6:checked ~ #slides .inner { margin-left:-500%; }
#slide7:checked ~ #slides .inner { margin-left:-600%; }
#slide8:checked ~ #slides .inner { margin-left:-700%; }
#slide9:checked ~ #slides .inner { margin-left:-800%; }


#overflow {
	width: 100%;
	overflow: hidden;
}

article img {
	width: 100%;
}

#slides .inner {
	width: 1000%;        /*dimensione del layout principale*/
	line-height: 0;
}

#slides article {
	width: 10%;          /*misura blocco inversamente proporzionale alla dimensione layout*/
	float: left;
}

/* Slider Styling */

/* Control Setup */

#controls {
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#controls label {
	display: none;
	width: 50px;
	height: 50px;
	opacity: 0.3;
}

#active {
	margin: 23% 0 0;
	text-align: center;
}

#active label {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	display: inline-block;
	width: 10px;
	height: 10px;
	background: #bbb;
}

#active label:hover {
	background: #ccc;
	border-color: #777 !important;
}

#controls label:hover {
	opacity: 0.8;
}

#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(5),
#slide5:checked ~ #controls label:nth-child(6),
#slide6:checked ~ #controls label:nth-child(7),
#slide7:checked ~ #controls label:nth-child(8),
#slide8:checked ~ #controls label:nth-child(9),
#slide9:checked ~ #controls label:nth-child(1) {
	background: url('../imggalleria/next.png') no-repeat;
	float: right;
	margin: 0 -70px 0 0;
	display: block;
}


#slide1:checked ~ #controls label:nth-child(9),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4),
#slide6:checked ~ #controls label:nth-child(5),
#slide7:checked ~ #controls label:nth-child(6),
#slide8:checked ~ #controls label:nth-child(7),
#slide9:checked ~ #controls label:nth-child(8) {
	background: url('../imggalleria/prev.png') no-repeat;
	float: left;
	margin: 0 0 0 -70px;
	display: block;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5),
#slide6:checked ~ #active label:nth-child(6),
#slide7:checked ~ #active label:nth-child(7),
#slide8:checked ~ #active label:nth-child(8),
#slide9:checked ~ #active label:nth-child(9) {
	background: #333;
	border-color: #333 !important;
}

/* Info Box */

.info {
	line-height: 20px;
	margin: 0 0 -150%;
	position: absolute;
	font-style: italic;
	padding: 30px 30px;
	opacity: 0;
	color: #000;
	text-align: left;
}

.info h3 {
	color: /*#333*/ #fff;
	margin: 0 0 5px;
	font-weight: normal;
	font-size: 22px;
	font-style: normal;
}

/* Slider Styling */

#slides {
	margin: 45px 0 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	padding: 1%;
	background: #fff;
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(219,218,201,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
}


/* Animation */

#slides .inner {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#slider {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#controls label{
	-webkit-transform: translateZ(0);
	-webkit-transition: opacity 0.2s ease-out;
	-moz-transition: opacity 0.2s ease-out;
	-o-transition: opacity 0.2s ease-out;
	transition: opacity 0.2s ease-out;
}

#slide1:checked ~ #slides article:nth-child(1) .info,
#slide2:checked ~ #slides article:nth-child(2) .info,
#slide3:checked ~ #slides article:nth-child(3) .info,
#slide4:checked ~ #slides article:nth-child(4) .info,
#slide5:checked ~ #slides article:nth-child(5) .info,
#slide6:checked ~ #slides article:nth-child(6) .info,
#slide7:checked ~ #slides article:nth-child(7) .info,
#slide8:checked ~ #slides article:nth-child(8) .info,
#slide9:checked ~ #slides article:nth-child(9) .info {
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}

.info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

/* Respond Options */

#desktop:checked ~ #slider {
	max-width: 880px;
}

#tablet:checked ~ #slider {
	max-width: 850px;
}

#mobile:checked ~ #slider {
	max-width: 450px;
}

#desktop:checked ~ #slider .desktop,
#tablet:checked ~ #slider .tablet,
#mobile:checked ~ #slider .mobile {
	color: #777;
	opacity: 1;
}

.desktop, .tablet, .mobile {
	display: inline-block;
	width: 60px;
	height: 60px;
	padding-top: 50px;
	opacity: 0.35;
	font-size: 12px;
}

.desktop:hover, .tablet:hover, .mobile:hover {
	opacity: 0.2;
}

.desktop {
	background: url('../imggalleria/desktop.png') no-repeat;
}

.tablet {
	background: url('../imggalleria/tablet.png') no-repeat;
}

.mobile {
	background: url('../imggalleria/mobile.png') no-repeat;
}

/* Responsive Styling */

/* Tablet */

#tablet:checked ~ #slider #controls {
	margin: -25% 0 0 12%;
	width: 76%;
	height: 50px;
}

#tablet:checked ~ #slider #controls label {
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

#tablet:checked  ~ #slider #slides, #mobile:checked  ~ #slider #slides {
	padding: 1% 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#tablet:checked ~ #slider #active {
	margin: 22% 0 0;
}

@media only screen and (max-width: 850px) and (min-width: 450px) {

	#slider #controls {
		margin: -25% 0 0 15%;
		width: 70%;
		height: 50px;
	}

	#slider #controls label {
		-moz-transform: scale(0.8);
		-webkit-transform: scale(0.8);
		-o-transform: scale(0.8);
		-ms-transform: scale(0.8);
		transform: scale(0.8);
	}

	#slider #slides {
		padding: 1% 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	#slider #active {
		margin: 22% 0 0;
	}

}

/* Mobile */

#mobile:checked ~ #slider #controls {
	margin: -28% 0 0 24%;
	width: 50%;
	height: 50px;
}

#mobile:checked ~ #slider #active {
	margin: 23% 0 0;
}

#mobile:checked ~ #slider #slides .info {
	opacity: 0 !important;
}

#mobile:checked ~ #slider #controls label {
	-moz-transform: scale(0.6);
	-webkit-transform: scale(0.6);
	-o-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
}


@media only screen and (max-width: 450px) {

	#slider #controls {
		margin: -28% 0 0 24%;
		width: 50%;
		height: 50px;
	}

	#slider #active {
		margin: 23% 0 0;
	}

	#slider #slides {
		padding: 1% 0;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		border-radius: 0px;
	}

	#slider #slides .info {
		opacity: 0 !important;
	}

	#slider #controls label {
		-moz-transform: scale(0.6);
		-webkit-transform: scale(0.6);
		-o-transform: scale(0.6);
		-ms-transform: scale(0.6);
		transform: scale(0.6);
	}

}


@media only screen and (min-width: 850px) {

	body {
		padding: 0 80px;
	}
}





/*codice per header e menu*/

#header{
  z-index: 6;
  color:white;
  font-family: font92727 ;
  background-color: #333;
  font-size: 14px;
  margin:0px;
  width: 100%;
  height:40px;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  /*coso per centrare pt.2
  left:50%;
  margin-left: -350px;
  /*fine coso per centrare pt.2*/
}
#header ul{
  margin:0px;
}
#header ul li{
  list-style-type: none;
  display:inline;
  padding-right:15px;
  padding-left: 15px;
  text-align: center;
  margin-top: 0px;
  /*coso per centrare
  margin-left: 20px;
  margin-right: 20px;*/
}
#header ul li a{
  color:white;
  font-family: 'font92727';
  font-size: 14px;
  list-style-type: none;
  display:inline;
  text-align: center;
  margin-top: 0px;
  text-decoration: none;
}
#header ul li a :hover{
  color:white;
}
.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-family:font92727;
    margin-top: 4px;
    padding-bottom: 6px;
}
.dropdown {
    position: relative;
    display: inline-block;
    /*coso per centrare
    margin-left: 20px;
    margin-right: 20px;*/
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:font92727;
}
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: white;
    color:#333;
}
/*codice pulsante menu*/
*, *::after, *::before {
 box-sizing: border-box;
 /*font-family: arial;
 /*line-height: 2;*/
 margin: 0; }

body {

 overflow-x: hidden; }

.invis {
 height: 1px;
 left: -999px;
 position: absolute;
 top: -999px;
 visibility: hidden;
 width: 1px; }

.page {
 	display: flex;
 	flex-direction: column;
 	text-align: center;
 	justify-content: center;
 	/*height: 100vh;*/
 	animation: colors 8s infinite;
 	animation-timing-function: cubic-bezier(.85,.01,.19,.99);
 	/*font-family: "Helvetica Neue", sans-serif;*/
 }

.main-base {
 background: #333;
 left: 0px;
 position: relative;
 transition: all .3s; }

.main-base header, .main-base footer {
   background: #333;
   color: #fff; }

footer a {
 color: #fff; }

.nav-side {
 background: #333;
 color: #fff;
 bottom: 20px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 height: 60px;
 left: 20px;
 overflow: hidden;
 padding: 8px 0;
 position: fixed;
 transition: all .3s;
 width: 60px;
 z-index: 7;
 }

.menu-list {
  font-family: font92727;
 height: 0%;
 list-style: none;
 margin: 0;
 overflow: hidden;
 padding: 0;
 transition: all .3s; }
 .menu-list a {
   border-bottom: 1px solid #444;
   color: #fff;
   display: block;
   padding: 12px 8px;
   text-decoration: none; }
   .menu-list a:hover {
     background: rgba(0, 0, 0, 0.5); }

.btn-label {
 cursor: pointer;
 display: block;
 height: 60px;
 width: 60px;
 position: absolute;
 top: 0;
 left: 0;
}
 .btn-label .top {
   height: 3px;
   background-color: #fff;
   position: absolute;
   top: 12px;
   left: 12px;
   right: 12px;
 }
 .btn-label .middle {
   height: 3px;
   background-color: #fff;
   position: absolute;
   top: 22px;
   left: 12px;
   right: 12px;
 }
 .btn-label .bottom {
   height: 3px;
   background-color: #fff;
   position: absolute;
   top: 32px;
   left: 12px;
   right: 12px;
 }
 .btn-label .label {
   text-align: center;
   position: absolute;
   bottom: 2px;
   left: 0;
   right: 0;
   font-size: 12px;
 }
 #nav-expand:checked + .nav-side .btn-label {
   display: none;
 }

.close {
 cursor: pointer;
 text-align: right;
 padding-right: 15px;
line-height: 30px;
 font-size: 30px;
 cursor: hand;
 cursor: pointer;
 display: none;
 height: 40px;
 border-bottom: 1px solid #fff; }
 #nav-expand:checked + .nav-side .close {
   display: block;
 }

#nav-expand:checked + .nav-side {
 bottom: 0;
 height: 100%;
 left: 0;
 width: 200px; }
 #nav-expand:checked + .nav-side .menu-list {
   height: 100%; }
 #nav-expand:checked + .nav-side .btn-label {
   color: transparent;
   display: inline-block;
   height: 20px;
   /*line-height: 20px;*/
   text-align: center;
   width: 20px; }
 #nav-expand:checked + .nav-side + .main-base {
   left: 200px; }
 #nav-collapse + .main-base {
   left: 200px; }
 #nav-collapse + .main-base > .overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0,0,0,.5);
   opacity: 1;
   transition: opacity .3s; }
 #nav-collapse:checked + .main-base {
   left: 0; }
 #nav-collapse:checked + .main-base > .overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   height: 0;
   width: 0;
   opacity: 0; }
/*header titolo*/
#headertitolo {
  z-index: 5;
  color:white;
  font-family: 'font92727' ;
  background-color: #333;
  font-size: 14px;
  margin:0px;
  width: 100%;
  height:40px;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  /*coso per centrare pt.2
  left:50%;
  margin-left: -350px;
  /*fine coso per centrare pt.2*/
}
#logo{
  margin-top: auto;
  text-align: center;
  font-size:22px;
  font-family: 'Orbitron';
  /*serve per rendere il font più nitido*/
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0px;
  margin-top: 10px;

}
/*styling footer*/
#footer{
  height:15em;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #333;
  color:white;
  padding-top: 5em;
  margin-top: 30px;
  border: 0px;
}
#footer p{
  vertical-align: middle;
  text-align: center;
}
