/*import dei font utilizzati*/
@font-face{
  font-family:"font126891";
  font-family:"font126891";
  src:url("../font/HelveticaNeueLTPro-Lt.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:"font124871";
  font-family:"font124871";
  src:url("../font/myriadwebpro.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Lobster';
  src:url("../font/Lobster/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:"font92727";
  src:url("../font/SF-UI-Text-Regular.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family: 'Orbitron';
  src:url("../font/Orbitron/Orbitron-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Righteous';
  src:url("../font/Righteous/Righteous-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bungee';
  src:url("../font/Bungee/Bungee-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Audiowide';
  src:url("../font/Audiowide/Audiowide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monoton';
  src:url("../font/Monoton/Monoton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bungee Inline';
  src:url("../font/BungeeInline-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Press Start 2P';
  src:url("../font/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body{
  font-size: 17px;
  line-height: 1.52947;
  font-weight: 400;
  letter-spacing: -.021em;
  margin-left:0px;
  margin-right:0px;
  background-image: url("../foto/SfondoArduinov4.jpg");
  background-color:white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
#container{
  margin: 0;
  /*margin-top: 55%;*/
  margin-top:10%;
  /*margin-top: 31.25em;*/
  /*background-color:white;*/
}
/*menu i navigazione aka navbar*/
/*inizio coso per sfondo centrare
#sopra{
  height:40px;
  width: 100%;
  top:0px;
  position:fixed;
  background-color: #333;
}
fine coso per centrare*/
#header{
  z-index: 1;
  color:white;
  font-family: font92727 ;
  background-color: #333;
  font-size: 14px;
  margin:0px;
  width: 100%;
  height:40px;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  /*coso per centrare pt.2
  left:50%;
  margin-left: -350px;
  /*fine coso per centrare pt.2*/
}
#header ul{
  margin:0px;
}
#header ul li{
  list-style-type: none;
  display:inline;
  padding-right:15px;
  padding-left: 15px;
  text-align: center;
  margin-top: 0px;
  /*coso per centrare
  margin-left: 20px;
  margin-right: 20px;*/
}
#header ul li a{
  color:white;
  font-family: font92727;
  font-size: 14px;
  list-style-type: none;
  display:inline;
  text-align: center;
  margin-top: 0px;
  text-decoration: none;
}
.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-family:font92727;
    margin-top: 4px;
    padding-bottom:6px;
}
.dropdown {
    position: relative;
    display: inline-block;
    /*coso per centrare
    margin-left: 20px;
    margin-right: 20px;*/
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:font92727;
}
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: white;
    color:#333;
}

p{
  font-family: font126891;
  margin-left:  150px;
  margin-right: 150px;
}
/*#copertina{
  height: 100%;
  width: 100%;
  filter: blur(0px) ;
  filter: drop-shadow();
  position: fixed;
  z-index: -10;
}*/
.contenuto{
    background-color: whitesmoke;
  /*  margin-top: 280px;*/
    color:#333;
    height: auto;
    padding: 7px;
    margin:0 8px;
    border-radius: 10px;
}
.contenuto p{
    padding-top: 45px;
}
#titoloweek{
  color:white;
  font-size: 5em;
  font-family: 'Lobster', 'cursive';
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  opacity: 0.7;
  /*margin-top: 300px;*/
  margin-top: 2.25em;
}
