@import url('https://www.fontify.me/wf/4dae5b9279578bbce15473cde2ae897f');
@import url('https://www.fontify.me/wf/d3e1c84e7b889b9be151c0252e0f3d5c');
@import url('https://www.fontify.me/wf/913f31e80002637ab5b87370e560f313');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Courgette|Orbitron|Pacifico|Righteous|Russo+One|Yellowtail');
/*import dei font utilizzati*/
@font-face{
  font-family:"font126891";
  font-family:"font126891";
  src:url("../font/HelveticaNeueLTPro-Lt.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:"font124871";
  font-family:"font124871";
  src:url("../font/myriadwebpro.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Lobster';
  src:url("../font/Lobster/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:"font92727";
  src:url("../font/SF-UI-Text-Regular.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family: 'Orbitron';
  src:url("../font/Orbitron/Orbitron-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Righteous';
  src:url("../font/Righteous/Righteous-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bungee';
  src:url("../font/Bungee/Bungee-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Audiowide';
  src:url("../font/Audiowide/Audiowide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monoton';
  src:url("../font/Monoton/Monoton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bungee Inline';
  src:url("../font/BungeeInline-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Press Start 2P';
  src:url("../font/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body{
  font-size: 17px;
  line-height: 1.52947;
  font-weight: 400;
  letter-spacing: -.021em;
  margin-left:0px;
  margin-right:0px;
  background-image: url("../foto/Sfondostampa.jpg" );
  background-color:white;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

}
#container{
  margin: 0;
  /*margin-top: 55%;*/
  margin-top:10%;
  /*margin-top: 31.25em;*/
  /*background-color:white;*/
}
/*menu i navigazione aka navbar*/
/*inizio coso per sfondo centrare
#sopra{
  height:40px;
  width: 100%;
  top:0px;
  position:fixed;
  background-color: #333;
}
fine coso per centrare*/
#header{
  z-index: 1;
  color:white;
  font-family: font92727 ;
  background-color: #333;
  font-size: 14px;
  margin:0px;
  width: 100%;
  height:40px;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  /*coso per centrare pt.2
  left:50%;
  margin-left: -350px;
  /*fine coso per centrare pt.2*/
}
#header ul{
  margin:0px;
}
#header ul li{
  list-style-type: none;
  display:inline;
  padding-right:15px;
  padding-left: 15px;
  text-align: center;
  margin-top: 0px;
  /*coso per centrare
  margin-left: 20px;
  margin-right: 20px;*/
}
#header ul li a{
  color:white;
  font-family: font92727;
  font-size: 14px;
  list-style-type: none;
  display:inline;
  text-align: center;
  margin-top: 0px;
  text-decoration: none;
}
.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-family:font92727;
    margin-top: 4px;
    padding-bottom: 6px;
}
.dropdown {
    position: relative;
    display: inline-block;
    /*coso per centrare
    margin-left: 20px;
    margin-right: 20px;*/
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:font92727;
}
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: white;
    color:#333;
}

p{
  font-family: 'font126891';
  margin-left:  150px;
  margin-right: 150px;
}
/*#copertina{
  height: 100%;
  width: 100%;
  filter: blur(0px) ;
  filter: drop-shadow();
  position: fixed;
  z-index: -10;
}*/
.contenuto{
    background-color: whitesmoke;
  /*  margin-top: 280px;*/
    color:#333;
    height: auto;
    padding: 7px;
    margin:0 8px;
    border-radius: 20px;
    /*animazione comparsa*/
    position: relative;
    animation: mymove1 3s;
    animation-fill-mode: forwards;
    z-index:-1;
}
@keyframes mymove1 {
    from {top: 15em;}
    to {top: 0em;}
}
.contenuto p{
    padding-top: 45px;
    text-align: justify;
}
#titoloweek{
  /*Animazione comparsa titolo*/
  position: relative;
  animation: mymove 3s;
  animation-fill-mode: forwards;

  color:white;
  font-size: 5em;
  /*font-weight: 500;
  font-family: font92727;*/
  font-family: 'Lobster', 'cursive';
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  opacity: 0.7;
  margin-top: 2.25em;
}
@keyframes mymove {
    from {top: 1.5em;}
    to {top: 0em;}
}
/*codice roba*/
*, *::after, *::before {
 box-sizing: border-box;
 /*font-family: arial;
 /*line-height: 2;*/
 margin: 0; }

body {

 overflow-x: hidden; }

.invis {
 height: 1px;
 left: -999px;
 position: absolute;
 top: -999px;
 visibility: hidden;
 width: 1px; }

.main-base {
 background: #333;
 left: 0px;
 position: relative;
 transition: all .3s; }

.main-base header, .main-base footer {
   background: #333;
   color: #fff; }

footer a {
 color: #fff; }

.nav-side {
 background: #333;
 color: #fff;
 bottom: 20px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 height: 60px;
 left: 20px;
 overflow: hidden;
 padding: 8px 0;
 position: fixed;
 transition: all .3s;
 width: 60px;
 z-index: 2; }

.menu-list {
  font-family: font92727;
 height: 0%;
 list-style: none;
 margin: 0;
 overflow: hidden;
 padding: 0;
 transition: all .3s; }
 .menu-list a {
   border-bottom: 1px solid #444;
   color: #fff;
   display: block;
   padding: 12px 8px;
   text-decoration: none; }
   .menu-list a:hover {
     background: rgba(0, 0, 0, 0.5); }

.btn-label {
 cursor: pointer;
 display: block;
 height: 60px;
 width: 60px;
 position: absolute;
 top: 0;
 left: 0; }
 .btn-label .top {
   height: 3px;
   background-color: #fff;
   position: absolute;
   top: 12px;
   left: 12px;
   right: 12px;
 }
 .btn-label .middle {
   height: 3px;
   background-color: #fff;
   position: absolute;
   top: 22px;
   left: 12px;
   right: 12px;
 }
 .btn-label .bottom {
   height: 3px;
   background-color: #fff;
   position: absolute;
   top: 32px;
   left: 12px;
   right: 12px;
 }
 .btn-label .label {
   text-align: center;
   position: absolute;
   bottom: 2px;
   left: 0;
   right: 0;
   font-size: 12px;
 }
 #nav-expand:checked + .nav-side .btn-label {
   display: none;
 }

.close {
 cursor: pointer;
 text-align: right;
 padding-right: 15px;
line-height: 30px;
 font-size: 30px;
 cursor: hand;
 cursor: pointer;
 display: none;
 height: 40px;
 border-bottom: 1px solid #fff; }
 #nav-expand:checked + .nav-side .close {
   display: block;
 }

#nav-expand:checked + .nav-side {
 bottom: 0;
 height: 100%;
 left: 0;
 width: 200px; }
 #nav-expand:checked + .nav-side .menu-list {
   height: 100%; }
 #nav-expand:checked + .nav-side .btn-label {
   color: transparent;
   display: inline-block;
   height: 20px;
   /*line-height: 20px;*/
   text-align: center;
   width: 20px; }
 #nav-expand:checked + .nav-side + .main-base {
   left: 200px; }
 #nav-collapse + .main-base {
   left: 200px; }
 #nav-collapse + .main-base > .overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0,0,0,.5);
   opacity: 1;
   transition: opacity .3s; }
 #nav-collapse:checked + .main-base {
   left: 0; }
 #nav-collapse:checked + .main-base > .overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   height: 0;
   width: 0;
   opacity: 0; }
ul.menu-list{
  text-align: center;
}
/*header titolo*/
#headertitolo {
  z-index: 0;
  color:white;
  font-family: font92727 ;
  background-color: #333;
  font-size: 14px;
  margin:0px;
  width: 100%;
  height:40px;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  /*coso per centrare pt.2
  left:50%;
  margin-left: -350px;
  /*fine coso per centrare pt.2*/
}
#logo{
  margin-top: auto;
  text-align: center;
  font-size:22px;
  font-family: 'Orbitron';
  /*serve per rendere il font più nitido*/
  -webkit-font-smoothing: antialiased;

}
.intestazione{
    margin-left: 0px;
    margin-top: 1em;
    background-color:  #4caf50;
    color: white;
    padding-left: 150px;
    font-weight: normal;
    font-family: 'Righteous';
    height: 2.5em;
    /*per allineare in verticale */
    display:flex;
    align-items: center;
}
.img1 {
    padding: 20px;
    padding-right: 0px;
    background-color: lightgrey;
    overflow: hidden;
    border-radius: 30px;
    margin-top: 4em;
    margin-right: 150px;
    margin-left:150px;
}
.img1 img {
    margin-right: 30px;
    padding-right: 0px;
    float: right;
    width: 45%;
    height: 35%;
    margin-top: 0px;
    margin-left: 0px;
}
.img1 p{
  display: inline-block;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 1em;
  padding-left:0%;
  width: 50%;
  text-align: justify;
}
.img1 h3{
  padding-left: 0px;
  padding-right: 0%;
  margin-left: 0px;
  margin-top: 2em;
  text-align: center;
  margin-right: 40%;
  background-color: #009688;
}
#footer{
  height:15em;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #333;
  color:white;
  padding-top: 5em;
  margin-top: 30px;
  border: 0px;
}
#footer p{
  vertical-align: middle;
  text-align: center;
}
