@import url('https://www.fontify.me/wf/4dae5b9279578bbce15473cde2ae897f');
@import url('https://www.fontify.me/wf/d3e1c84e7b889b9be151c0252e0f3d5c');
@import url('https://www.fontify.me/wf/913f31e80002637ab5b87370e560f313');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Audiowide|Courgette|Orbitron|Pacifico|Righteous|Russo+One|Yellowtail');
/*import dei font utilizzati*/
@font-face{
  font-family:"font126891";
  font-family:"font126891";
  src:url("../font/HelveticaNeueLTPro-Lt.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:"font124871";
  font-family:"font124871";
  src:url("../font/myriadwebpro.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
@font-face{
  font-family:'Lobster';
  src:url("../font/Lobster/Lobster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:"font92727";
  src:url("../font/SF-UI-Text-Regular.woff") format("woff");
  font-weight:normal;
  font-style:normal;
}
@font-face {
  font-family: 'Orbitron';
  src:url("../font/Orbitron/Orbitron-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Righteous';
  src:url("../font/Righteous/Righteous-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bungee';
  src:url("../font/Bungee/Bungee-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Audiowide';
  src:url("../font/Audiowide/Audiowide-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Monoton';
  src:url("../font/Monoton/Monoton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bungee Inline';
  src:url("../font/BungeeInline-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Press Start 2P';
  src:url("../font/PressStart2P-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body{
  background-color:white;
  font-size: 17px;
  line-height: 1.52947;
  font-weight: 400;
  letter-spacing: -.021em;
  margin-left:0px;
  margin-right:0px;

}
#container{
  margin: 0;
  margin-top:55%;
  /*margin-top: 31.25em;*/
  /*background-color:white;*/
}
/*menu i navigazione aka navbar*/
/*inizio coso per sfondo centrare
#sopra{
  height:40px;
  width: 100%;
  top:0px;
  position:fixed;
  background-color: #333;
}
fine coso per centrare*/
#header{
  z-index: 1;
  color:white;
  font-family: font92727 ;
  background-color: #333;
  font-size: 14px;
  margin:0px;
  width: 100%;
  height:40px;
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  /*coso per centrare pt.2
  left:50%;
  margin-left: -350px;
  /*fine coso per centrare pt.2*/
}
#header ul{
  margin:0px;
}
#header ul li{
  list-style-type: none;
  display:inline;
  padding-right:15px;
  padding-left: 15px;
  text-align: center;
  margin-top: 0px;
  /*coso per centrare
  margin-left: 20px;
  margin-right: 20px;*/
}
#header ul li a{
  color:white;
  font-family: 'font92727';
  font-size: 14px;
  list-style-type: none;
  display:inline;
  text-align: center;
  margin-top: 0px;
  text-decoration: none;
}
.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    font-family:font92727;
    margin-top: 4px;
    padding-bottom: 6px;
}
.dropdown {
    position: relative;
    display: inline-block;
    /*coso per centrare
    margin-left: 20px;
    margin-right: 20px;*/
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    font-family:font92727;
}
.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: white;
    color:#333;
}
#titolo{
  z-index: -1;
  color:white;
/*  font-size: 42px;*/
/*  font-size: 75px;*/
  font-size: 4.6875em;
  text-align: center;
  vertical-align: middle;
  font-weight: 500;
  font-family: font92727;
  -webkit-font-smoothing: antialiased;
  margin-top: 5em;
  background-position: center;
  background-size: cover;
  position: absolute;
    top: -15%;
    /*margin-left: 37%;*/
    object-position: center;
    text-align: center;
  /*  left:40.31%;*/
  /*left:32.65625%;*/
  /*---------CODICE PER CENTRARE LA ROBA----------*/
  left:50%;
  margin-left:-354px;

}
p{
  font-family: font126891;
  margin-left:  150px;
  margin-right: 150px;
}
/*video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(loop-hd.jpg) no-repeat;
background-size: cover;
z-index: 0;
}*/
/*Sfondo Home*/
video#bgvid{
  z-index: -10;
  position: fixed;
  top: 0px;
  left: 0px;
}
/*Immagini home page centrate*/
.img{
  margin:0px;
  text-align: center;
  width: 100%;
  background-color:white;
}
.img img{
  align-content: center;
  display:inline-block;
}
.img p{
  margin:0 auto;
}
.contenuto{
    background-color: whitesmoke;
  /*  margin-top: 280px;*/
    color:#333;
    height: auto;
    padding: 7px;
}
.contenuto p{
    padding-top: 45px;
}
.page {
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	/*height: 100vh;*/
	animation: colors 8s infinite;
	animation-timing-function: cubic-bezier(.85,.01,.19,.99);
	/*font-family: "Helvetica Neue", sans-serif;*/
}
/* Titolo con effetto scroll*/
h1 {
  text-align: center;
	display: inline-block;
	width: auto;
	margin: auto;
	/*font-size: 4em;*/
}

.scroller {
	height: 1em;
	overflow: hidden;
  margin:0 auto;
  text-align: center;
}
.scroller-item{
    text-align: center;
		display: block;
		animation: scroller 8s infinite;
		animation-timing-function: cubic-bezier(.85,.01,.19,.99);
		line-height: 1;

		&:nth-child(1) { color:white; text-align: center;}
		&:nth-child(2) { color:white; text-align: center;}
		&:nth-child(3) { color:white; text-align: center;}
		&:nth-child(4) { color:white; text-align: center;}
		&:nth-child(5) { color:white; text-align: center;}
		&:nth-child(6) { color:white; text-align: center;}
	}
@keyframes scroller {
	0% { transform: translateY(0) }
	20% { transform: translateY(-1em) }
	40% { transform: translateY(-2em) }
	60% { transform: translateY(-3em) }
	80% { transform: translateY(-4em) }
	100% { transform: translateY(-5em) }
}
/*---------------freccia-------------------*/
#freccia {
  z-index: -2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
/*  position: absolute;*/
/*  width: 100%;
  height: 100%;
  background: #333;*/
  top:85%;
  left:49.37%;
}

.containerfreccia {
  display:fixed;
  position: relative;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}

@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
/*eventuale testo animato per dire di scrollare giù */
.text {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
  to {
    opacity: 1;
  }
}
/*codice roba*/
*, *::after, *::before {
 box-sizing: border-box;
 /*font-family: arial;
 /*line-height: 2;*/
 margin: 0; }

body {

 overflow-x: hidden; }

.invis {
 height: 1px;
 left: -999px;
 position: absolute;
 top: -999px;
 visibility: hidden;
 width: 1px; }

.main-base {
 background: #333;
 left: 0px;
 position: relative;
 transition: all .3s; }

.main-base header, .main-base footer {
   background: #333;
   color: #fff; }

footer a {
 color: #fff; }

.nav-side {
 background: #333;
 color: #fff;
 bottom: 20px;
 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
 height: 60px;
 left: 20px;
 overflow: hidden;
 padding: 8px 0;
 position: fixed;
 transition: all .3s;
 width: 60px;
 z-index: 2;
 }

.menu-list {
  font-family: font92727;
 height: 0%;
 list-style: none;
 margin: 0;
 overflow: hidden;
 padding: 0;
 transition: all .3s; }
 .menu-list a {
   border-bottom: 1px solid #444;
   color: #fff;
   display: block;
   padding: 12px 8px;
   text-decoration: none; }
   .menu-list a:hover {
     background: rgba(0, 0, 0, 0.5); }

.btn-label {
 cursor: pointer;
 display: block;
 height: 60px;
 width: 60px;
 position: absolute;
 top: 0;
 left: 0;
}
 .btn-label .top {
   height: 3px;
   background-color: #fff;
   position: absolute;
   top: 12px;
   left: 12px;
   right: 12px;
 }
 .btn-label .middle {
   height: 3px;
   background-color: #fff;
   position: absolute;
   top: 22px;
   left: 12px;
   right: 12px;
 }
 .btn-label .bottom {
   height: 3px;
   background-color: #fff;
   position: absolute;
   top: 32px;
   left: 12px;
   right: 12px;
 }
 .btn-label .label {
   text-align: center;
   position: absolute;
   bottom: 2px;
   left: 0;
   right: 0;
   font-size: 12px;
 }
 #nav-expand:checked + .nav-side .btn-label {
   display: none;
 }

.close {
 cursor: pointer;
 text-align: right;
 padding-right: 15px;
line-height: 30px;
 font-size: 30px;
 cursor: hand;
 cursor: pointer;
 display: none;
 height: 40px;
 border-bottom: 1px solid #fff; }
 #nav-expand:checked + .nav-side .close {
   display: block;
 }

#nav-expand:checked + .nav-side {
 bottom: 0;
 height: 100%;
 left: 0;
 width: 200px; }
 #nav-expand:checked + .nav-side .menu-list {
   height: 100%; }
 #nav-expand:checked + .nav-side .btn-label {
   color: transparent;
   display: inline-block;
   height: 20px;
   /*line-height: 20px;*/
   text-align: center;
   width: 20px; }
 #nav-expand:checked + .nav-side + .main-base {
   left: 200px; }
 #nav-collapse + .main-base {
   left: 200px; }
 #nav-collapse + .main-base > .overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: rgba(0,0,0,.5);
   opacity: 1;
   transition: opacity .3s; }
 #nav-collapse:checked + .main-base {
   left: 0; }
 #nav-collapse:checked + .main-base > .overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   height: 0;
   width: 0;
   opacity: 0; }
/*header titolo*/
#headertitolo {
  z-index: 0;
  color:white;
  font-family: font92727 ;
  background-color: #333;
  font-size: 14px;
  margin:0px;
  width: 100%;
  height:40px;
  position:fixed;
  top:0px;
  left:0px;
  right:0px;
  /*coso per centrare pt.2
  left:50%;
  margin-left: -350px;
  /*fine coso per centrare pt.2*/
}
#logo{
  margin-top: auto;
  text-align: center;
  font-size:22px;
  font-family: 'Orbitron';
  /*serve per rendere il font più nitido*/
  -webkit-font-smoothing: antialiased;

}
@keyframes mymove {
    from {top: 1.5em;}
    to {top: 0em;}
}
#footer{
  height:15em;
  margin-left: 0px;
  margin-right: 0px;
  background-color: #333;
  color:white;
  padding-top: 5em;
  border: 0px;
}
#footer p{
  vertical-align: middle;
  text-align: center;
}
.listaattivita{
  margin-top: 20px;
  font-family: 'font126891';
  margin-left: 200px;
  margin-right: 200px;
}
.attivita{
  font-weight: normal;
}
